<div class="game" ng-repeat="game in games track by $index">
    <div class="title">
        {{game.name}}, {{game.phone}}
    </div>
    <div class="history">
        <div ng-repeat="historical_turn in game.turn_history" class="card">
            <div ng-if="historical_turn.type == 'turn'">
                <div class="text">
                    <p ng-repeat="text in historical_turn.content.text track by $index">{{ text }}</p>
                </div>
                <div class="text">
                    <p>{{ historical_turn.content.prompt }}</p>
                    <ol>
                        <li ng-repeat="option in historical_turn.content.options track by $index">
                            {{ option['text'] }}
                        </li>
                    </ol>
                </div>
            </div>
            <div ng-if="historical_turn.type != 'turn'">
                <div class="text">
                    <p>{{ historical_turn.content.Body }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="current">
        <div class="card">
            <form ng-if="state == 'approve'">
                <div class="text">
                    <textarea class="turn-text"
                           ng-repeat="text in turn.text track by $index"
                           ng-model="turn.text[$index]"></textarea>
                </div>
                <div class="text">
                    <input type="text" ng-model="turn.prompt">
                    <ol>
                        <li ng-repeat="option in turn.options track by $index">
                            <input type="text" class="option" ng-model="turn.options[$index]['text']">
                            <input type="number" class="uid" ng-model="turn.options[$index]['pointsTo'][0]">
                        </li>
                    </ol>
                </div>
            </form>

            <button ng-click="approveTurn(game.phone)" ng-if="state == 'approve'">Send turn</button>
            <button ng-click="sendResponse('A', game.phone)" ng-if="state == 'respond'">Pick option A</button>
        </div>
    </div>
</div>
