body {
    width: 200%;
}

h2 {
    text-transform: uppercase;
}

form div {
    padding-bottom: 1em;
}

input {
    width: 20em;
}

.turn-text {
    width: 98%;
    display: block;
}

input.uid {
    width: 5em;
}

ol {
    margin: 0;
    list-style-type: upper-alpha;
}

.game, .start-game {
    float: left;
    width: 25em;
}

header {
    text-align: center;
    font-weight: bold;
}

.history {
    height: 35em;
    overflow: scroll;
}

.current {
    height: 10em;
}

.current .card {
    background: #ff6666;
}
.card {
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.5em;
    background: #eee;
}

.text {
    background: #fff;
    padding: 0.25em;
    margin: 0.25em;
}

.text p {
    margin: 0;
    padding: 0;
}

.start-game label {
    display: block;
}
