h2 {
    text-transform: uppercase;
}

form div {
    padding-bottom: 1em;
}

input.turn-text {
    width: 60em;
    display: block;
}

input.option {
    width: 20em;
}

input.uid {
    width: 5em;
}

ol {
    list-style-type: upper-alpha;
}
